out/
build/
.idea/
.vs/
*.user
*.vcxproj.user
.gradle/
SpringBoot/ControlPlaneService/build/
SpringBoot/ControlPlaneService/bin/
SpringBoot/ControlPlaneService/.gradle/

.env
.env.client
.env.server
.env.local
.env.deploy
!.env.client.example
!.env.server.example

# CMake FetchContent Cache
.cmake_deps/
.vcpkg/
